<div class="container float-left w-100">
    <form>
        <div class="text-light form-row">
            <div class="form-group col-3">
                <span>Character Name: {{character.name}}</span>
            </div>
            <div class="form-group col-6">
                <div class="form-row">
                    <div class="form-group col">
                        <span>Class: {{character.characterClass}}</span>
                    </div>
                    <div class="form-group col">
                        <span>Player: {{user.name}}</span>
                        {{!-- <label for="inputPlayer">Player:</label>
                        <input type="text" class="form-control" id="inputPlayer" placeholder="Player"> --}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <span>Race: {{character.race}}</span>
                    </div>
                    <div class="form-group col">
                        <span>Level: {{character.level}}</span>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-4">
                    <span>Armor Class: {{character.armorClass}}</span>
                </div>
                <div class="form-group col-4">
                    <div class="form-group col-2">
                        <span>Hit Points: {{character.hitPoints}}</span>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-6">
                    <div class="form-row">
                        <span>STR: [ {{character.strength}} ]</span>
                    </div>
                    <div class="form-row">
                        <span>DEX: [ {{character.dexterity}} ]</span>
                    </div>
                    <div class="form-row">
                        <span>CON: [ {{character.constitution}} ]</span>
                    </div>
                    <div class="form-row">
                        <span>INT: [ {{character.intelligence}} ]</span>
                    </div>
                    <div class="form-row">
                        <span>WIS: [ {{character.wisdom}} ]</span>
                    </div>
                    <div class="form-row">
                        <span>CHA: [ {{character.charisma}} ]</span>
                    </div>
                </div>
                <div>
                    <div class="form-group col-9">
                        <span>Attacks: {{character.attacks}}</span>
                    </div>
                    <div class="form-group col-9">
                        <span>Spells: {{character.spells}}</span>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
            <div class="col-6 card">
                <div class="pl-2 pt-2 pb-2 text-white bg-secondary card-top">
                    <div class="card-title">
                        <h3>Dice</h3>
                    </div>  
                </div>
                <div class="card-body bg-light">
                    <div class="form-group col">
                        <input type="text" class="form-control" id="inputRollAmt" placeholder="1-9">
                        <select name="dice-rolled" id="diceRolled">
                            <option value="2">d2</option>
                            <option value="4">d4</option>
                            <option value="6">d6</option>
                            <option value="8">d8</option>
                            <option value="10">d10</option>
                            <option value="12">d12</option>
                            <option value="20">d20</option>
                            <option value="100">d100</option>
                        </select>
                        <button type="button" class="m-3 p-2 bg-dark text-light" id="rollButton">Roll</button>
                    </div>
                    <label for="rollOutput">Result:</label>
                    <span style="text-decoration: underline" class="text-dark" id="rollOutput"></span>
                </div>
            </div>
        </div>
        <p><button data-id="{{character.id}}" id="deleteButton" type="button" class="m-3 p-2 bg-dark text-light">Delete
            Character</button></p>
    </div>
        
<script src="../../js/detail.js"></script>
<script src="/js/dice.js"></script>
