<body class="bg-warning">

    <header class="jumbotron text-white bg-transparent">


        <button class="float-right btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter By
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Class</a>
            <a class="dropdown-item" href="#">Newest</a>
            <a class="dropdown-item" href="#">A to Z</a>
        </div>
        <button type="button" id="createButton" class="m-3 p-2 bg-dark text-light">Create Character</button>
        <h1 class="display-4 text-center">Characters</h1>


    </header>

    <main>
        <div class="container">
            <div class="row">
                {{#each characters as |character|}}
                <div class="col-3-md card mt-3 mb-3 ml-4 pb-3" id="character">
                    <a href=/api/character/{{character.id}}>
                        <div class="pl-2 pr-2 mt-3 pt-2 text-white bg-secondary card-top">
                            <div class="card-title pl-2">
                                <h3>{{character.name}}</h3>
                            </div>
                </div>
                 <div class="card-body bg-light">
                            <p class="card-text">RACE: {{character.race}}</p>
                            <p class="card-text">CLASS: {{character.characterClass}}</p>
                            <div class="row">
                                <p class="col">STR: {{character.strength}}</p>
                                <p class="col">INT: {{character.intelligence}}</p>
                            </div>
                            <div class="row">
                                <p class="col">DEX: {{character.dexterity}}</p>
                                <p class="col">WIS: {{character.wisdom}}</p>
                            </div>
                            <div class="row">
                                <p class="col">Const: {{character.constitution}}</p>
                                <p class="col">CHAR: {{character.charisma}}</p>
                            </div>
                            <div class="card-footer">Campaign: {{character.campaign}}</div>
                        </div>


                    </a>
                </div>
                {{/each}}

                {{!-- <p><button data-id="{{character.id}}" id="deleteButton" type="button" --}}
                            {{!-- class="bg-dark text-light">Delete Character</button> --}}
                {{!-- <div class="col-3 card" id="editTheChar"> --}}
  
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    
    <script src="./server.js"></script>
    <script src="../js/homepage.js"></script>
</body>